#left-teams {
  background-image: url("https://union.ic.ac.uk/acc/football/fantasy/images/pitch_web.jpg");
  background-size: 100% auto;
  width: 100%;
  display: inline-block;
}

#left-players {
  background-image: url("https://union.ic.ac.uk/acc/football/fantasy/images/shirt.png");
}

.right, .left {
  display: none;
}

.rightactive, .leftactive{
  display: inherit;
}

#right-body{
  right: 0px;
  position: absolute;
  overflow: scroll;
}

.display-row {
  display: flex;
  justify-content: space-evenly;
}

.player-text {
  height: 15%;
  width: 100%;
  text-align: center;
}

.player-image {
  height: 70%;
}

.space-evenly {
  vertical-align: middle;
}

#body {
  width: 100%;
  display: table;
}

#main {
  color: blue;
}
